<div class="form flex justify-center py-14">
  <div class="form2">
    <p class="text-gray-500 font-bold flex text-xl justify-center">
      Password Generator
    </p>

    <div class="mt-5">
      <div
        class="py-4 flex md:w-[50vw]  w-[90vw] focus:outline-none p-3 text-white text-xl md:text-2xl font-semibold bg-gray-800"
      >
        <p class="bg-transparent">{{ generatedPassword || 'Your password will appear here' }}</p>
        <img
          src="../assets/copy-regular.svg"
          alt=""
          class="bg-transparent ml-auto w-6 cursor-pointer"
          (click)="copyPassword()"
        />
      </div>
    </div>

    <div class="main-form py-4 p-4  md:w-[50vw]  w-[90vw] mt-5 bg-gray-800">
      <div class="range-head bg-transparent flex  md:w-[50vw] w-[90vw]">
        <p class="text-gray-300 bg-transparent text-lg font-semibold">
          Character Length
        </p>
        <p class="ml-auto mr-8 bg-transparent text-3xl font-semibold text-neon">
         {{count()}}
        </p>
      </div>

      <input
        type="range"
        [value] ='count()'
        [(ngModel)]="passwordLength"
        max="25"
        [incremental]="1"
        (input)="update($event)"
        class="range-slider w-[80vw] in-range:border-green-500 mt-6"
      />

      <label class="bg-transparent flex mt-7">
        <input
          type="checkbox"
          [(ngModel)]="includeUppercase"
          class="w-5 h-5 ring-2 bg-transparent peer checkbox ring-white checked:border-transparent checked:bg-neon appearance-none indeterminate:bg-transparent border-1 border-white"
        />
        <img
          src="../assets/check-solid.svg"
          alt=""
          class="w-5 hidden peer-checked:block h-5 -ml-5 bg-transparent"
        />
        <p class="bg-transparent text-xl ml-3 mb-auto text-white -mt-1">
          Include Uppercase Letters
        </p>
      </label>

      <label class="bg-transparent flex mt-7">
        <input
          type="checkbox"
          [(ngModel)]="includeLowercase"
          class="w-5 h-5 ring-2 bg-transparent peer checkbox ring-white checked:border-transparent checked:bg-neon appearance-none indeterminate:bg-transparent border-1 border-white"
        />
        <img
          src="../assets/check-solid.svg"
          alt=""
          class="w-5 hidden peer-checked:block h-5 -ml-5 bg-transparent"
        />
        <p class="bg-transparent text-xl ml-3 mb-auto text-white -mt-1">
          Include Lowercase Letters
        </p>
      </label>

      <label class="bg-transparent flex mt-7">
        <input
          type="checkbox"
          [(ngModel)]="includeNumbers"
          class="w-5 h-5 ring-2 bg-transparent peer checkbox ring-white checked:border-transparent checked:bg-neon appearance-none indeterminate:bg-transparent border-1 border-white"
        />
        <img
          src="../assets/check-solid.svg"
          alt=""
          class="w-5 hidden peer-checked:block h-5 -ml-5 bg-transparent"
        />
        <p class="bg-transparent text-xl ml-3 mb-auto text-white -mt-1">
          Include Numbers
        </p>
      </label>

      <label class="bg-transparent flex mt-7">
        <input
          type="checkbox"
          [(ngModel)]="includeSymbols"
          class="w-5 h-5 ring-2 bg-transparent peer checkbox ring-white checked:border-transparent checked:bg-neon appearance-none indeterminate:bg-transparent border-1 border-white"
        />
        <img
          src="../assets/check-solid.svg"
          alt=""
          class="w-5 hidden peer-checked:block h-5 -ml-5 bg-transparent"
        />
        <p class="bg-transparent text-xl ml-3 mb-auto text-white -mt-1">
          Include Symbols
        </p>
      </label>

      <div class="strength flex mt-8 p-5">
        <p class="text-gray-400 font-semibold tracking-wide text-xl">
          STRENGTH
        </p>

        <div class="measure ml-auto gap-5 flex">
          <p class="text-xl uppercase font-semibold text-gray-200">{{ getPasswordStrength().strength }}</p>
          <ul class="flex gap-2 -mt-2 w-full">
            <!-- <li class="border-1 border-white bg-yellow-200  h-12 p-[0.4rem]"></li>
            <li class="border-1 border-white bg-yellow-200 h-12 p-[0.4rem]"></li>
            <li class="border-1 border-white bg-yellow-200 h-12 p-[0.4rem]"></li>
            <li class="border-2 border-white w-2 h-12 p-[0.3rem]"></li>
            <li class="border-2 border-white w-2 h-12 p-[0.3rem]"></li> -->
            <li [class]="getPasswordStrength().color + ' h-12 p-[0.4rem]'"></li>
            <li [class]="getPasswordStrength().color + ' h-12 p-[0.4rem]'"></li>
            <li [class]="getPasswordStrength().color + ' h-12 p-[0.4rem]'"></li>
            <li [class]="getPasswordStrength().color + ' h-12 p-[0.4rem]'"></li>
          </ul>
        </div>
      </div>

      <button (click)="generatePassword()" class="generate-btn group w-[100%] mt-6 flex justify-center py-5 px-20 bg-neon hover:bg-transparent hover:border-4 hover:border-neon hover:text-white">
        <p class="uppercase bg-transparent flex justify-center text-2xl font-semibold">Generate</p>
        <img src="../assets/arrow-right-solid.svg" class="bg-transparent group-hover:invisible ml-5 mt-2" alt="">
        <img src="../assets/arrow-right-solid copy.svg" class="bg-transparent invisible -ml-3 group-hover:visible mt-2"  alt="">
      </button>


    </div>
  </div>
</div>
